/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This file contains all localizable skin settings such as 
 *   font, layout, and geometry
 */
window { 
  font: 3mm tahoma,arial,helvetica,sans-serif;
}



/*make UI RTL */

window,dialog,wizard,page { direction: rtl; }

menu { direction: rtl; }

outliner { direction: rtl; }

/* XML header shown when there's no style */
div#header { direction:rtl; text-align: right; }

/*
 * make sure search from address bar remains in RTL
 */

#urlbar .autocomplete-search-engine
{
direction: rtl !important;
}

/*
 * keep Composer <HTML> Source tab LTR
 */

#content-source,
#doctype-text { direction: ltr; }

/*
 *set message pane content when no message is selected
 *in messenger to RTL
 */
div#main { direction: rtl; }

/*
 *set about:plugins RTL
 */
div#outside {direction: rtl; }