/*
 * Edita este fichero y copialo como userContent.css dentro de tu
 * profile-directory/chrome/
 */

/*
 * Este archivo puede ser usado para aplicar estilo a todas las páginas web que veas
 * Las reglas sin !important son sobreescritas por las reglas del autor
 * si el autor las declara. Las reglas con !important serán sobreescritas con las reglas del autor.
 */

/*
 * ejemplo: turn off "blink" element blinking
 *
 * blink { text-decoration: none ! important; }
 *
 */

/*
 * ejemplo:  darle un borde de 2px a todas las tablas
 *
 * table { border: 2px solid; }
 */

/*
 * ejemplo:  turn off "marquee" element
 *
 * marquee { -moz-binding: none; }
 *
 */
 
/* 
 * Puedes ver más ejemplos(en) en: http://www.mozilla.org/unix/customizing.html
 */

