/*
 * Ulozte kopii tohoto souboru jako userChrome.css do adresare chrome
 * v adresari s uzivatelskym profilem a upravte dle vasich predstav.
 *
 * Tento soubor se pouziva k nastaveni nekterych vychytavek uzivatelskeho
 * rozhrani baliku aplikaci SeaMonkey. Pravidla s deklaraci !important prevazi
 * nad vychozimi pravidly definovanymi ve stylech UI.
 *
 * Nasleduji radku NEODSTRANUJTE
 *
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * Priklad: Nastavte vsechny pisma na 20 pt:
 * * { font-size: 20pt !important }
 *
 * Priklad: Nastavte pismo v nabidce na 15pt
 * menupopup > * { font-size: 15pt !important }
 *
 * Priklad: Zmenete rodinu pisma v radku s adresou
 * #urlbar { font-family: monospace !important; }
 *
 * Vice prikladu naleznete na http://www.mozilla.org/unix/customizing.html
 *
 */

